Studio-Practice/connector-component/src/main/mule/manju/scatter-gather-democh.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="87c080a4-137d-4f81-82e6-eee355f72fc9" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="chimbh17" />
	</db:config>
	<flow name="connector-componentFlow" doc:id="396b0d12-2a85-4d89-bd3a-106972a829ad" >
		<http:listener doc:name="Listener" doc:id="aef2b59d-5788-4bc7-82fe-869d896961f9" config-ref="HTTP_Listener_config" path="/scatter-gather"/>
		<logger level="INFO" doc:name="Logger" doc:id="d6d88c3d-11eb-4230-9cdc-7d101f34b65f" message="#['\n']  Started scatter-gather flow:"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="7846803d-84a4-4eb0-9e5a-6a0cf709889e" >
			<route >
				<set-payload value="Apple" doc:name="Set Payload  Apple" doc:id="9dc753f4-1138-459d-b98b-aaf22c3c9498" />
			</route>
			<route >
				<set-payload value="Mango" doc:name="Set Payload mango" doc:id="69a19088-249f-4257-bd07-7bccfd23f12b" />
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="c4e46831-6d36-4bad-aabc-e4b698a09109" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "Payload1": payload."0".payload ,
    "Payload2": payload."1".payload
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="377a1a14-9d96-4cac-afee-2751a171bde9" message="#[payload]"/>
	
</flow>

</mule>
