project/vitech/vitech-bank-customer-acc-creation-api/src/main/mule/vitech-customer-acct-creation.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
    <apikit:config name="vitech-customer-acct-creation-config" api="vitech-customer-acct-creation.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="vitech-customer-acct-creation-main">
        <http:listener config-ref="vitech-customer-acct-creation-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="vitech-customer-acct-creation-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="vitech-customer-acct-email" doc:id="53ba5864-5a4c-42ac-8825-d4aecda61a28" >
		<logger level="INFO" doc:name="Logger" doc:id="52451354-7edd-4202-8898-f9de205f2534" message="#['\n']&#10;----------------&#10;#['\n']&#10;&quot;Before sending mail:&quot;&#10;#['\n']&#10;----------------&#10;#['\n']"/>
		<email:send doc:name="Send" doc:id="f0f19fcc-702a-41ae-8f60-583e00b32840" config-ref="Email_SMTP" fromAddress="${email.user}" subject='"Congratulations account created Successfully.. !"'>
			<email:to-addresses >
				<email:to-address value="bharat.chim@mmit.edu.in"/>
			</email:to-addresses>
			<email:bcc-addresses />
			<email:body encoding="UTF-8" contentType="text/plain">
				<email:content ><![CDATA[#["Congratulations your account is created successfully with bank"]]]></email:content>
			</email:body>
		</email:send>
		<logger level="INFO" doc:name="Logger" doc:id="e9120129-1276-406c-94c0-fb8269d99bff" message="#['\n']&#10;----------------&#10;#['\n']&#10;&quot;After sending mail:&quot;&#10;#['\n']&#10;----------------&#10;#['\n']"/>
	</flow>
	<flow name="vitech-customer-acct-creation-console">
        <http:listener config-ref="vitech-customer-acct-creation-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="vitech-customer-acct-creation-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="post:\createAccount:application\json:vitech-customer-acct-creation-config">
        <set-variable value="#[attributes.queryParams.customerName]" doc:name="Set customerName" doc:id="94a78551-9b4f-418c-bd57-0be532947528" variableName="customerName"/>
		<set-variable value="#[attributes.queryParams.bank]" doc:name="Set bank" doc:id="f814b0be-ff67-4860-9b11-d2e47cdd9df5" variableName="bank"/>
		<set-variable value='#[attributes.queryParams."type"]' doc:name="Set type" doc:id="947f7aa1-6c22-4eb0-afab-d07ea9fc5c29" variableName="type"/>
		<set-variable value="#[attributes.queryParams.branchName]" doc:name="Set branchName" doc:id="a1b2cded-ce4f-4a1c-a356-133457594a97" variableName="branchName"/>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload.mailId[0] as String]" doc:name="email" doc:id="1bc67b6e-d6d5-45b6-9ae1-f92888e6ea7b" variableName="mail" />
		<set-variable value="#[[]]" doc:name="Empty List" doc:id="b9e178c8-5934-463f-86d4-2a6a283e7625" variableName="inpPayload"/>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;vars.inpPayload &lt;&lt; payload]" doc:name="add the input Payload" doc:id="03ea3b07-eae6-49f1-ac25-41b2e87f0a55" variableName="inpPayload" />
		<snowflake:select doc:name="Select" doc:id="9a20c526-2928-4083-a8b4-bd3f2723e646" config-ref="Snowflake_Config">
			<snowflake:sql ><![CDATA[SELECT BANKNAME ,  custAcountNum  FROM Bank_Transactions WHERE 
 BANKNAME = :BANKNAME and custAcountNum = :custAcountNu ;

]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
	"BANKNAME": vars.bank, 
	"custAcountNu": payload.accountNumber
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<choice doc:name="Choice" doc:id="e1d20a83-0b43-4e56-aac4-93731711ef20" >
			<when expression="#[sizeOf(payload) &gt;= 1]">
				<ee:transform doc:name="Transform Message" doc:id="576b432d-7765-4e19-86de-7f81685b1adf" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{(
	 payload map {
 	"Message": $.CUSTACOUNTNUM ++ " This Account is"   ++
 	" already exist with bank" ++ vars.bank ++ "please try different account"
 })} 

]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<snowflake:insert doc:name="Insert" doc:id="ffcc173f-f87d-43ed-85cd-a49478f0d659" config-ref="Snowflake_Config">
					<snowflake:sql ><![CDATA[INSERT INTO Bank_Transactions(
custName , custAcountNum , bankName , accountType , ifscCode , branchName , 
transactionTimeStamp , mailId , phoneNumber
)
VALUES(:custName , :custAcountNum , :bankName , :accountType , :ifscCode , :branchName , 
:transactionTimeStamp , :mailId , :phoneNumber
);]]></snowflake:sql>
					<snowflake:input-parameters ><![CDATA[#[{(
	vars.inpPayload map {
	 custName: vars.customerName, 
	 custAcountNum: $.accountNumber , 
	 bankName: vars.bank , 
	 accountType: vars."type" , 
	ifscCode: $.ifsCode , 
	 branchName: vars.branchName , 
 transactionTimeStamp: now() , 
mailId: $.mailId , 
phoneNumber: $.contact
})}]]]></snowflake:input-parameters>
				</snowflake:insert>
				<flow-ref doc:name="Flow Reference" doc:id="3d7841f1-ebda-4bdf-80af-b17b3f7982b6" name="vitech-customer-acct-email"/>
				<ee:transform doc:name="Transform Message" doc:id="c0481dfd-6556-4b97-a1b7-675a91d3b66a">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{(
	 vars.inpPayload map {
 	"Success": "Account Created Successfully with " ++ $.accountNumber
  ++
 	" Account Number"
 })} 
 
 
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</otherwise>
		</choice>
    </flow>
</mule>
